extends ../page.jade
block title
	title Login
block page
	div.row
		div.col-md-offset-2.col-md-8
			div(style={ margin: '20px 0px', visibility: message ? 'visible' : 'hidden' })
				div.alert.alert-warning(role='alert')= message || '&nbsp;'
			div.panel.panel-default
				div.panel-heading Login
				div.panel-body
					form(method='POST' action='/login')
						div.form-group
							label(for='username') Username
							input#username(type='text' name='username' class='form-control')
						div.form-group
							label(for='password') Password
							input#password(type='password' name='password' class='form-control')
						button(type='submit' class='btn btn-primary') Login
					script(text='text/javascript').
						$('#username').focus();
